<div class="landing-container">
  <div class="star-border left">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
  </div>

  <div class="star-border right">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
    <img src="star.svg" alt="Star" class="star-icon">
  </div>

  <div class="hero">
    <img src="heading.png" alt="make your zine!" class="hero-heading">
    
    <div class="illustration-container">
      <img src="heart-zine.png" alt="Zine Illustration" class="zine-icon centered-large-zine">
    </div>

    <button class="start-btn" (click)="start()">
      <img src="start-btn.png" alt="Start Button">
    </button>
  </div>
</div>
